.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  padding: 8px 12px;
  background-color: rgba(15, 150, 105, 0.418);
  z-index: 22;

  .login {
    padding: 12px 16px;
    border: 0;
    border-radius: 12px;
    outline-width: 0;
    font-weight: 500;
  }

  .title {
    line-height: 1.5;
  }
}
